@page "/Brand"

<div class="container-fluid">
    <div class="row">
        <img class="rounded mx-auto d-block" style="width:100%;" src="/Images/Blog.jpg" />
    </div>
    <div class="row justify-content-center">
        <h1 style="border-bottom: 2px double; border-top:2px double" class="text-center justify-content-center"><a href="https://vigilcoding.cloud/" target="_blank">Come Code With Me!</a></h1>
    </div>
    <div class="row justify-content-center">
        <p>
            This is my tech blog. I wanted to start documenting my projects as I work on them and write posts about what I learn and where I learned it from.
            My goal is to gain more confidence in my pregaming skills and an archive of what topics I have learned. I also by talking about this I might help a few people.
            If you want to check out my blog, please click the "Come Code With Me!". I love comments and ideas of what I should learn next.
        </p>
    </div>
    <div class="row">
        <img class="text-center justify-content-center" style="width:100%;"  src="/Images/kbac.jpg" />
    </div>
    <div class="row justify-content-center">
        <h1 style="border-bottom: 2px double; border-top:2px double" class="text-center justify-content-center">
            King George User Group
        </h1>
    </div>
    <div class="row justify-content-center">
        <p>
            I was reading a book called "Soft Skills, The Software Developer's life manual" and they talked about joining 
            a local user group. The area I live is a bit remote, and I could not find any user groups close by. So I thought
            to myself, why don't I start one myself. I have a lot of Developer friends from work, the gym, and from daily 
            life so I thought I would ask around and see if there was any interest in creating a user group. So The King 
            George User Group (K.G.U.G) was born. We meet once every two weeks, for a couple hours each time. The floor is 
            always open for developers to talk about any current projects they are working on and we discuss it among 
            the group. I we also work on smaller projects together, go over white board questions, and do small 
            presentation about various IT topics.  If you have any questions for us please email, vigiljd8@gmail.com, 
            and I will get back to you.
        </p>
    </div>
   
</div>


@code {

}
