@page "/"
<!--Image Div-->
<div style="margin-bottom:5px">
    <img class="rounded mx-auto d-block" src="/Images/IWouldHireHim.png" >
</div>

<!--Contact Div-->
<div class="container-fluid" style="border:1px solid #4d4d50 ; margin:2px">
    <div class="row" style="border:2px solid #4d4d50">
        <div class="col" style="border:1px solid #4d4d50" >
            <p class="text-center"  style="font-weight:bold;"> Email : Vigiljd8@gmail.com</p>
        </div>
        <div class="col" style="border:1px solid #4d4d50">
            <p class="text-center" style="font-weight:bold; align-content:center"> Phone : +1 (360) 286-6358</p>
        </div>
    </div>
    <div class="row" style="border:1px solid #4d4d50">
        <div class="col justify-content-center" style="border:1px solid #4d4d50">
            <p class="text-center" ><a href="https://www.linkedin.com/in/jared-vigil-37a036108/" target="_blank">LinkedIn</a></p>
        </div>
        <div class="col justify-content-center" style="border:1px solid #4d4d50">
            <p class="text-center"><a href="https://github.com/JaredVigil" target="_blank">GitHub</a></p>

        </div>
        <div class="col justify-content-center" style="border:1px solid #4d4d50">
            <p class="text-center"><a href="https://vigilcoding.cloud/" target="_blank">Blog</a></p>
        </div>
    </div>
</div>
<!--Highlight Div-->
<div style=" margin:2px">
    <h3> Quick Highlights</h3>
    <p style="margin-left: 40px;">
        I have more than four years working as a Full-Stack Developer in the software development industry, 
        gaining experience developing and delivering high quality, scalable, and heavily tested software 
        across the stack. A problem solver, self-starter, and highly motivated engineer that is eager to learn. 
        I am obsessed with creating the best product for the customer by managing my own 
        individual project priorities, deadlines, and deliverables with high attention to detail. 
        As well as mentor and lead other team members to maintain the same level of accountability.
    </p>
</div>
<!--What this is  Div-->
<div style=" margin-bottom:10px">
    <h3>This App</h3>
    <p style="margin-left: 40px;">
        This is a personal Blazor Webassembly app I developed that I am hosting on Azure. 
        I wanted to get more experience with WebAssembly and Blazor, so I thought this would be a 
        good project I can do on my free time. I also didn't want to worry about hosting
        my own website so I just hosted on the cloud with a free hosting plan. And I wanted 
        to mess around with Azure. This means I can't have to much traffic on this site. 
        But till that becomes a problem I don't want to have to pay for anything.
    </p>
</div>
<!--HighLight Photos Div-->
<div class="container-fluid" style=" margin:2px">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <img class="rounded"  style="align-items:center;" src="/Images/College.jpg">
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <img class="rounded" src="/Images/WebDev.jpg">
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <img class="rounded" src="/Images/Net.png">
            </div>
        </div>
    </div>

</div>
