@page "/Personal"
    <!--Over all page grid-->
<div class="container-fluid mx-auto">
    <!--Top row images-->
    <div class="row">
        <div class="col">
            <div>
                <img style="width:100%; margin-bottom:2px" class="rounded mx-auto d-block" src="/Images/CollageInterest2.jpg" />
            </div>
            <div class="justify-content-center">
                <h1 style="border-bottom: 2px double; border-top:2px double" class="text-center justify-content-center">Go Hawks!!</h1>
            </div>
            <div>
                <ul>
                    <li>
                        I'm a huge Seahawks fan. Even though I don't live in seattle anymore,
                        I still watch everygamme and cheer on my Hawks!
                    </li>
                    <li>I love exploring national parks. My goal is to visit them all some day.</li>
                    <li>I enjoy running, and I've ran one Marathon. Training for another one!</li>
                    <li>Try to play rec-sports as much as possible.</li>
                    <li>Somewhat gym rat. I enjoy a good workout after work.  </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div>
                <img style="width:100%; margin-bottom:2px" class="rounded mx-auto d-block" src="/Images/CollagesInter1.jpg" />
            </div>
            <div class="justify-content-center">
                <h1 style="border-bottom: 2px double; border-top:2px double" class="text-center justify-content-center">For Fun!</h1>
            </div>
            <div>
                <ul>
                    <li>
                        My best friend is my pet rabbit, Brian. She (Funny story) is a mischievous lion hear rabbit.
                        She is a little fuzz face but I love her. And he loves pets.
                    </li>
                    <li>
                        Nintendo fan boy! I don't play games a whole ton anymore, but I always find time
                        to play Switch games with friends and family.
                    </li>
                    <li>
                        Love reading sify books and always looking for recomandations. My favorite book is I, Robot.
                        Asimov is my favorite author and I have read almost all his work.
                    </li>

                    <li>In no way am I a fantastic chef, but I know my way around a kitchen and enoy to cook.</li>
                    <li>Love going to movies (before COVID), and will go by myself if I have too.</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div>
                <img style="width:100%; margin-bottom:2px" class="rounded mx-auto d-block" src="/Images/collageinterest3.jpg" />
            </div>
            <div class="justify-content-center">
                <h1 style="border-bottom: 2px double; border-top:2px double" class="text-center justify-content-center">A Bit Nerdy!</h1>
            </div>
            <div>
                <ul>
                    <li>Very very amacher cosplayer. </li>
                    <li> Has over 300 comics. </li>
                    <li>Star Wars is my favorite movie franchise. Second is probable Jurassic Park.</li>
                    <li>Enjoys traveling. Trying to go to Spain and Japan soon (If COVID  allows me).</li>
                    <li>Has a very impressive collection of Funko bobbleheads. Always trying to add more!</li>
                    <li>recently jumped into miniature games like WarHammer and Star Wars Legion</li>
                </ul>
            </div>
        </div>
    </div>
    <!--Mid Row paragraphs-->
    <div class="row">
        <div class="col" style=" margin:2px">
            <h3>Cliff Notes On Me.</h3>
            <p style="margin-left: 40px;">
                I was born in Albuquerque New Mexico but moved to the Seattle Washington area when I was young. I now live in north Virginia.
                I played football in high school, where I gained a love for staying active and I learned how to work hard, compete, and be a team member.
                I would say most people describe me as a bit quiet and introverted, but when I get more comfortable with others I tend to make jokes and be a bit sarcastic.
                I love going to my local comic shop or movie theater. And I'm almost always up for a pickup game.
            </p>
        </div>
    </div>
    <div class=" row">
        <div class="col" style=" margin:2px">
            <h3> Me As a Coder.</h3>
            <p style="margin-left: 40px;">
                I have wanted to be a software developer since I was 10 years old. I was very lucky to have a father who was a software developer
                so I was exposed to it very early on. My first Computer Science calls was in middle school where we programed little games with turtles in a language called Logo.
                I attended Western Washington University and finally achieved my dream and became a software developer. I enjoy coding smaller projects on my free time, and I'm always open
                to jumping on exciting new projects or learning new technologies.
            </p>
        </div>
    </div>
    <!-- Bottom row maybe more pics-->
    <div class="row">

    </div>
</div>


@code {

}
