@page "/Professional"
<div class="container-fluid">
    <!--top row languages and Techs -->
    <div class="row">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <h2 style="border-bottom:2px double; ">Experienced User With </h2>
            </div>
            <div class="row">
                <div class="col-8">
                    <ul>
                        <li>
                            <p style="font-weight:bold">Programming Languages</p> C#/VB, Java, Python, C++, C, SQL, JavaScript, Powershell, HTML.
                        </li>
                        <li>
                            <p style="font-weight:bold">Frameworks/Libraries</p>.Net, .Net Core, ASP.Net MVC, Web API, Blazor, Angular-JS 2*, Entity Framework, WFC, WPF, SignalR, Spring, Flask.
                        </li>
                        <li>
                            <p style="font-weight:bold">Environments</p> Windows, UNIX, Linux.
                        </li>
                        <li>
                            <p style="font-weight:bold">Technologies</p> AWS, Microsoft Azure,Visual Studios IDE, SQL Server, MySQL, Team Foundation Server
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--mid row Work and experence / projects -->
    <div class="row">
        <div class="container-fluid">
            <!--Title and line-->
            <div class="row justify-content-center" >
                <h2 style="border-bottom:2px double; ">Work History</h2>
            </div>
            <!--JWAC / Air Force-->
            <div class="row">
                <!--Imag-->
                <div class="col-2" style="width:10%">
                    <img src="/Images/JWAC.png" />
                </div>
                <!--HIGH LEVEL EXPERENCE-->
                <div class="col">
                    <h4>Computer Scientist, Joint Warfare Analysis Center, King George, Virgina, 2017-Current</h4>
                    <ul>
                        <li>
                            Works with analysts to gather business requirements to develop new or modify existing web-based applications using the ASP.Net.
                        </li>
                        <li>
                            Implements the integration of new technology solutions based on awareness of customers' requirements.
                        </li>
                        <li>
                            Maintain and grow several legacy applications. Migrating from a monolith to a microservice architecture, by decoupling
                            dependencies and services from the legacy application into new solutions, that other applications can use to solve the same problem.
                        </li>
                        <li>
                            Mentor summer interns, where I introduce them to agile ideology, the SCRUM process, gather requirements from customers,
                            make an agile release train, and hold murder board meetings with different audience types to fine-tune their final presentation
                        </li>
                    </ul>
                </div>
            </div>
            <!--DIS-->
            <div class="row">
                <!--Photo-->
                <div class="col-2">
                    <img src="/Images/DIS.jpg" />
                </div>
                <!--projects-->
                <div class="col">
                    <h4>Software Engineer, Dealer Information Systems Corp., Bellingham, Washington, 2016-2017 </h4>
                    <ul>
                        <li>
                            Handled a huge conversion of the company’s main web application from jQuery/ Thymeleaf 3.0.1 to Angular-JS and Single-Page
                            application functionality with a more responsive and dynamic interface.
                        </li>
                        <li>
                            Maintained legacy application and upgraded a variety of software packages to make sure the application 
                            stayed up-to-date and could continue to support other programs in the company.
                        </li>
                        <li>
                            Added several security features to web application to ensure user authorization and authentication using  
                            Spring Security. Along with time out features to protect the users.
                        </li>
                        <li>
                            Translated business requirements given from my supervisor into design characteristics.
                        </li>
                    </ul>
                </div>
            </div>
            <!--Personal Projects-->
            <div class="row">
                <div class="col-2">
                    <img src="/Images/pgoal.jpg"
                </div>
                <div class="col">
                    <ul>
                        <h4>Personal Projects / Free Time </h4>
                        <li>
                            Develop and maintain several Blazor Web Applications for myself and my Frends.
                        </li>
                        <li>
                            Working on a web applcaiton to help identify rocks based on chricteristics, With a goal for this app to work when off line.
                        </li>
                        <li>
                            Create Python Web scraping scripts to inform users when products are avalable and purches them for the user.
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Bottom Awards and Acomplishments-->
    <div class="row">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <h2 style="border-bottom:2px double; ">Achievements And Certificates </h2>

            </div>
            <div class="row">
                <h3>Awards</h3>
            </div>
            <div class="row">
                <ul>
                    <li>
                        2019 Second Quarter, Mid-Tier Employ of the Quarter,  Joint Warfare Analysis Center, 2019
                    </li>
                </ul>
            </div>
            <div class="row">
                <h3>Certifications </h3>
            </div>
            <div class="row">
                <ul>
                    <li>
                        Security+, CompTIA, 2018
                    </li>
                    <li>
                        PenTest+, CompTIA, 2020
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




@code {

}
